@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

/* LOGIN PAGE */
.googleButton svg {
  width: 20px;
  height: 20px;
}

/* GENERAL PROFILE */

.content {
  width: 75%;
}