@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;600&display=swap');


body {
  margin: 0;
  
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

/* GENERAL PROFILE */

.content {
  width: 75%;
}
.App {
  font-family: 'Shantell Sans', sans-serif;
}